<%- include('header'); -%>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Running</th>
      <th>Runtime</th>
    </tr>
  </thead>
  <tbody>
    <% jobs.map(job => { %>
      <tr>
        <td><a href="/job/<%= job.name %>"><%= job.label %></a></td>
        <td><%= job.running %></td>
        <td><%= job.started ? (new Date().getTime() - job.started) : 'N/A' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('footer'); -%>